@media screen and (max-width: 420px) {
  .home-paragraph {
    max-width: 250px !important;
  }
}

html {
  background: url(images/resumebg3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
  color: #000;
}

#button-container {
  position: absolute;
  top: 0px;
}

.menubutton {
  font-size: 30px;
  background: none;
  border: none;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

#home-container {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px;
  -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2.5s; /* Firefox < 16 */
  -ms-animation: fadein 2.5s; /* Internet Explorer */
  -o-animation: fadein 2.5s; /* Opera < 12.1 */
  animation: fadein 2.5s;
}

.home-paragraph {
  text-size-adjust: auto;
  margin-top: 20px;
  max-width: 450px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #97979771;
  text-align: center;
}

#name-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.home {
  font-size: xx-large;
  background: none;
  border: none;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.menubutton:hover {
  transform: scale(1.4);
}

.home:hover {
  transform: scale(1.4);
}

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 1px 1px 1px black;
  min-width: 200px;
  z-index: 1;
  background-color: #97979771;
  width: 25%;
  height: 100%;
  transition: ease-in 220ms;
  transform: translateX(-105%);
  border-radius: 15px;
  box-shadow: 5px 5px 5px black;
}

#navbarexit {
  margin-left: 90%;
  margin-top: 5px;
  margin-bottom: 0px;
  border-radius: 100%;
  border: none;
  scale: 1.4;
  text-align: center;
  background-color: rgba(220, 75, 50, 0.0);
}

#navbarexit:hover {
  transform: scale(1.4);
}

#navbar.activate {
  transform: translateX(0%);
}

ul {
  list-style: none;
  line-height: 50px;
}

.footer {
  border-top: 4mm ridge rgba(211, 220, 50, 0.6);
  background-color: rgba(211, 220, 50, 0.6);
  position: absolute;
  text-align: center;
  border-radius: 15px;
  bottom: 0;
  width: 100%;
  opacity: 100%;
}

.navbarheader {
  text-align: center;
  text-shadow: 13px;
  /*background-color: rgba(104, 220, 50, 0.6);*/
  border-radius: 15px;
  margin-top: 5px;
}

.testbutton {
  position: absolute;
  right: 0;
}

.navbarlist {
  list-style: none;
}

.btn {
  background-color: rgba(220, 152, 50);
  border-radius: 15px;
  min-width: 80px;
  padding: 10px;
  border-style: none;
  opacity: 100%;
}

.btn:hover {
  transform: scale(1.2);
}

#profile {
  margin-top: 20px;
  max-width: 25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.twittercontainer {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.twitterframe {
  justify-content: center;
}

#blogtainer {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bloglet {
  margin-top: 15px;
  background-color: #e9e3e359;
  border-radius: 15px;
  width: 50%;
  min-width: 400px;
}

.bloglet:hover {
  background-color: #e6976380;
}

.blogletheader {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  text-align: center;
}

.blogletdate {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 5px;
  width: 90%;
}

.blogletexcerpt {
  margin-top: 0px;
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 90%;
  padding: 15px;
  border-radius: 15px;
  background-color: azure;
}

.buttoncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blogbutton {
  margin-bottom: 10px;
}

.resume-container {
  display: flex;
  justify-content: center;
}

.resume-subcontainer {
  margin-top: 35px;
  width: 50%;
  min-width: 400px;
  flex-direction: column;
}

.resume-background {
  justify-self: center;
  background-color: #e9e3e359;
  border-radius: 15px;
}

.resume-margin {
  margin-left: 20px;
  margin-right: 20px;
}

.resume-p {
  margin: 0px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

p {
  text-indent: 25px;
}

.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
